html {
  height: 100%;
}
body {
  margin:0 auto;
  padding:0;
  font-family: 'Raleway', sans-serif;
  /*color: #4a4949;*/
  background-color: #F7F7F7;
  text-align: center;
  width: 800px;
}

.logo {
  width: 160px;
  margin-top: 50px;

}

.headline{
  display: block;
  margin: 0 auto 35px auto;
  padding-top: 15px;
}

.login-box {
  position: relative;
  /*top: 900px;*/
  left: 50%;
  width: 540px;
  padding: 40px;
  transform: translate(-50%, 0%);
  /*background: rgba(0,0,0,.5);*/
  background-color: #0D1F07;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
  
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #05FF05;
  font-size: 12px;
}

.login-box form a{
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #05FF05;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  /*margin-top: 40px;*/
  letter-spacing: 4px;
  background-color: #0D1F07;
  border: none;
  cursor: pointer;
}

.login-box a:hover{
  background: #05FF05;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #05FF05,
              0 0 25px #05FF05,
              0 0 50px #05FF05,
              0 0 100px #05FF05;
}

.login-box a span{
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1){
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #05FF05);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #05FF05);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3){
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #05FF05);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #05FF05);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

.final {
    margin: -220px 0px 10px 0px;
  }

.login-box img{
    width: 40px;
    margin: 20px auto 0px auto;
    display: block;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

footer div{
  background-color: #8C8C8C;
  /*margin-top: 650px;*/
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 150px;
}

footer p{
  color: #b1b1b1;
  font-size: 10px;
   padding: 25px;
}

.links {
  color: #fff;
  padding-top: 25px;
}

.links a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.login-box .h2-b{
  color: #58c00d;
}

.hide {
  display: none;
}

    #contBarra {
  width:100%;
  height:100px;
  position: relative;
  margin: 10% auto auto auto;
}

#progressbar{
  height: 26px;
  position: absolute;
  left: 0%;
  width: 100%;
  background: #E0E0E0;
  border-radius: 4px;
  margin-top: 10px;
  /*margin-left:20px;*/
  padding: 2px;
  
}
#loading{
  transition: all 500ms ease;
  height: 20px;
  width: calc(100% - 10px);
  border-radius: 2px;
  background: #58c00d;
  position: absolute;
  left: 0%;
  margin: 3px;
  display: inline-block;
  animation: load 11s ease infinite;
}
#load{
  font-family: 'Lato', sans-serif;
  font-weight: regular;
  text-align: center;
  margin-top: 35px;
  color: #fff;
}

#title{
  font-size: 20px;
  font-weight: 500;
  margin-top: -100px;
  color: white;
}

@keyframes load{
  0%{ width: 0%;}
  10%{ width: 10%;}
}

@media screen and (max-width: 800px){

  body {
    width: 90%;
  }

  .logo {
      width: 140px;
      /*margin: 10px;*/
  }

  .headline {
    width: 100%;
    margin-bottom: 30px;
  }

  .login-box{
    width: 90%;
    font-size: 15px;
    /*top: 740px;*/
  }

  .login-box .user-box input{
    font-size: 18px;
  }

  .login-box .user-box label{
    font-size: 15px;
  }

  .login-box form a{
    /*font-size: 40px;*/
  }

  .final {
    width: 100%;
    margin: -220px 0px 53px 0px;
  }

  .last-a{
    margin: 0px 0px 100px 0px;
    width: 250px;
}

}